<div class="container">
    <div class="row pt-3">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a asp-controller="UserProfile" asp-action="Index" class="list-group-item list-group-item-action">Данные</a>
                <a asp-controller="UserProfile" asp-action="Edit" class="list-group-item list-group-item-action">Редактировать</a>
                <a href="#" class="list-group-item list-group-item-action">Корзина</a>
                <a href="#" class="list-group-item list-group-item-action">Выйти из профиля</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Имя пользоваетля</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row">
                                    <label for="name" class="col-4 col-form-label">Имя:</label>
                                    <div class="col-8">
                                        <p class="font-weight-normal">Антон</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lastname" class="col-4 col-form-label">Фамилия:</label>
                                    <div class="col-8">
                                        <p class="font-weight-normal">Кутовой</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Email:</label>
                                    <div class="col-8">
                                        <p class="font-weight-normal">antonykutovoi@@gmail.com</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="phone" class="col-4 col-form-label">Номер телефона:</label>
                                    <div class="col-8">
                                        <p class="font-weight-normal">+7 (977) 267-40-28</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="adress" class="col-4 col-form-label">Адрес:</label>
                                    <div class="col-8">
                                        <p class="font-weight-normal">Адово пекло, Адское шоссе, дом 13, квартира 666</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
