<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="starter-template py-4 text-center">
            <h2><b>Заказ оформлен</b></h2>
            <p class="lead">Спасибо за заказ! Мы свяжемся с вами в ближайшее время.<br>
            <a class="text-info" asp-controller="Home" asp-action="Index">Нажмите, </a>чтобы продолжить покупки...</p>
        </div>
    </div>
</div>
