<div class="row">
    <div class="col text-center">
        <p><h2><b>Заказ оформлен</b></h2></p>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        Спасибо за заказ! Мы свяжемся с вами в ближайшее время.
        Для возврата на главную страницу нажмите <a href="/home/index?page=1">здесь.</a>
    </div>
</div>
