<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <p><h2>Заказ оформлен.</h2></p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col text-center">
            Спасибо за заказ! Мы свяжемся с вами в ближайшее время.
            Для возврата на главную страницу нажмите <a style="color:darkgray" href="/home/index?page=1">здесь.</a>
        </div>
    </div>
</div>
