@model Shop.Models.ProductViewModel

<div class="container">
    <div class="row">
        <div class="col-6">
            <form asp-action="Create" asp-controller="Product" asp-antiforgery="true" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Название</label>
                    <input type="text" asp-for="Name" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Price">Цена</label>
                    <input asp-for="Price" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Description">Описание</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="File">Загрузить изображение</label>
                    <input type="file" asp-for="File" class="form-control-file">
                </div>
                <button type="submit" class="btn btn-dark">Сохранить</button>
            </form>
        </div>
    </div>
</div>
