<!-- Header -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <header id="header">
                    <h1><a href="index.html" id="logo">Minimaxing</a></h1>
                    <nav id="nav">
                        <a href="index.html">Homepage</a>
                        <a href="twocolumn1.html">Two Column #1</a>
                        <a href="twocolumn2.html" class="current-page-item">Two Column #2</a>
                        <a href="onecolumn.html">One Column</a>
                        <a href="threecolumn.html">Three Column</a>
                    </nav>
                </header>

            </div>
        </div>
    </div>
</div>