@model IEnumerable<Shop.Models.Product>
<!DOCTYPE html>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col">
                <p>@product.Name</p>
                <p>Стоимость: @product.Price руб.</p>
            </div>
        }
    </div>
</div>