@model Shop.Models.UserViewModel

<div class="row">
    <div class="col-md-3 my-4">
        <div class="list-group ">
            <a asp-action="GetOrders" class="list-group-item list-group-item-action">Заказы</a>
            <a asp-action="GetUsers" class="list-group-item list-group-item-action">Пользователи</a>
            <a asp-action="GetRoles" class="list-group-item list-group-item-action">Роли</a>
            <a asp-action="AddProduct" class="list-group-item list-group-item-action">Добавление товаров</a>
        </div>
    </div>
    <div class="col-md-9 my-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Редактирование данных пользователя @Model.Email</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="EditUser">
                            <div asp-validation-summary="All" class="text-danger offset-4 col-8"></div>
                            <div class="form-group row">
                                <label asp-for="Name" class="col-4 col-form-label">Имя</label>
                                <div class="col-8">
                                    <input asp-for="Name" placeholder="Имя" class="form-control here" type="text">
                                    <span asp-validation-for="Name" class="sr-only"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Surname" class="col-4 col-form-label">Фамилия</label>
                                <div class="col-8">
                                    <input asp-for="Surname" placeholder="Фамилия" class="form-control here" type="text">
                                    <span asp-validation-for="Surname" class="sr-only"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Email" class="col-4 col-form-label">Email (логин)</label>
                                <div class="col-8">
                                    <input asp-for="Email" placeholder="Email" class="form-control here" type="email" required>
                                    <span asp-validation-for="Email" class="sr-only"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PhoneNumber" class="col-4 col-form-label">Номер телефона</label>
                                <div class="col-8">
                                    <input asp-for="PhoneNumber" placeholder="Номер телефона" class="form-control here" type="tel">
                                    <span asp-validation-for="PhoneNumber" class="sr-only"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-4 col-8 text-right">
                                    <button name="submit" type="submit" class="btn btn-info">Сохранить</button>
                                </div>
                            </div>
                        </form>
                        <a class="text-info" asp-action="GetUser" asp-route-id="@Model.Id"><i class="bi bi-arrow-left mr-2 text-info"></i>Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>