@model List<Shop.DataAccess.ApplicationUser>

<div class="row">
    <div class="col-md-3 my-4">
        <div class="list-group ">
            <a asp-action="GetOrders" class="list-group-item list-group-item-action">Заказы</a>
            <a asp-action="GetUsers" class="list-group-item list-group-item-action">Пользователи</a>
            <a asp-action="GetRoles" class="list-group-item list-group-item-action">Роли</a>
            <a asp-action="AddProduct" class="list-group-item list-group-item-action">Добавление товаров</a>
        </div>
    </div>
    <div class="col-md-9 my-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Список пользователей</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Email (логин)</th>
                                    <th>Имя</th>
                                    <th>Фамилия</th>
                                    <th>Телефон</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = Model.Count - 1; i >= 0; i--)
                                {
                                    var user = Model[i];
                                    <tr class="table-row" data-href="/Admin/GetUser/@user.Id">
                                        <td>@user.Email</td>
                                        <td>@user.FirstName</td>
                                        <td>@user.Surname</td>
                                        <td>@user.PhoneNumber</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-right">
                            <a class="btn btn-info" asp-action="CreateUser" role="button">Добавить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>